body {
	margin: 0px;
	padding: 0px;
	text-align: center;
}

section {
	background: white;
	width: 75%;
	margin: 0 auto;
	background: grey;
	height:75vh;
}

h1 {
	padding-top: 100px;
}

footer {
	text-align: center;
	position: fixed;
	margin: 0px auto;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 50px;
}

.footerText {
	padding-top: 10px;
}