body {
	text-align: center;
}

/*No one reads this stuff, why would you put a message in the CSS?
Why not?!*/

h1 {
	padding-top: 5%;
	text-shadow: 2px 2px #ff0000;
}

footer {
	text-align: center;
	position: fixed;
	padding-top: 10px;
	margin: 10px auto 0px auto;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 76px;
}

#fakeCounter {
	border: 1px solid black;
}