body {
    font-family: 'Nunito Sans', sans-serif !important;
    /* background-image: url("../images/IMG_7353.JPG") no-repeat center center fixed; */
    background-image: url("../images/IMG_7353.JPG");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}